
#product-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    
    gap: 35px;
    max-width: 1200px;
    
    margin: 100px auto 100px;  
    padding: 0 20px;
    
    justify-content: flex-start; 
}

.product-card {
    background: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
    transition: transform 0.2s;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
}

.product-card .product-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 5px;
}

.product-card h3 {
    color: #333; 
    margin-top: 5px; 
    font-size: 1.1em; 
    font-weight: 600;
}

.product-card .price {
    font-size: 1.3em; 
    font-weight: bold;
    color: #A00000; 
    margin: 5px 0; 
}

.product-card .category, .product-card .tags {
    color: #666; 
    font-size: 0.8em; 
}

#control-panel {
    display: flex;
    justify-content: center;
    gap: 15px; 
    padding: 15px 0; 
    
    background-color: white; 
    border-bottom: 1px solid #ccc;
    
    position: sticky; 
    top: 65px; 
    z-index: 400;
    
    flex-wrap: wrap; 
}

.filter-btn, #sort-options { 
    font-size: 0.9em;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 500;
    
    border: 1px solid #333;
    background-color: white;
    color: black;
}

.filter-btn.active {
    background-color: black; 
    color: #ffffff; 
    border-color: #333;
    font-weight: bold;
}

#search-input {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 0.9em;
    width: 200px;
}

.btn-primary {
    background-color: black; 
    color: #ffffff; 
    border: 1px solid #333;
    margin-top: 10px;
}

.btn-disabled {
    background-color: #333; 
    color: #999;
    border: none;
    cursor: not-allowed;
    margin-top: 10px;
}


@media (max-width: 768px) {
    #product-list-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
        justify-content: center; 
    }
    
    #control-panel {
        padding: 10px;
        gap: 10px;
    }
}